/* Nav*/

a.navbar-brand{/*Carcateristicas del logo*/
    font-size: 40px;
    margin-right: 75px;
    font-family: 'Love Ya Like A Sister', cursive;
    
}

a.nav-link{    /*Caracteristicas del menu*/
    font-size: 30px;
    font-family: 'VT323', monospace;
    margin: 10px 10px;
}
/* ---------------------------------------------------------------------- Sección del Footer ----------------------------------------------------------------- */

footer{
    background-color: #001314;
    text-align: center;
    width: 100%;
    position: absolute;
}

footer h2{
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 20px;
    color: white;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    margin: 0px 20px 0px 20px;
}

footer img{
    width: 50px;
    height: 50px;
}